{% macro buildListItem(primary, secondary, url) %}
  <a href="{{ url }}" target="_blank">
    <mwc-list-item twoline="twoline">
      <span>{{ primary }}</span>
      <span slot="secondary">{{ secondary }}</span>
    </mwc-list-item>
  </a>
{% endmacro %}

{% macro buildWorkList(data) %}
  <mwc-list>
    {% for item in data -%}
      {{ buildListItem(item.name, item.role, item.url) }}
    {%- endfor %}
  </mwc-list>
{% endmacro %}

{% macro buildFeaturesList(data) %}
  <mwc-list>
    {% for item in data -%}
      {{ buildListItem(item.name, item.country, item.url) }}
    {%- endfor %}
  </mwc-list>
{% endmacro %}