@import url(https://unpkg.com/@material/typography@5.1.0/dist/mdc.typography.css);

html {
  --mdc-theme-primary: black;
  --mdc-typography-font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}


.hme-list__heading {
  padding: 0 16px;
}